@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="dashboard-container">
    <h2> Welcome, @ViewBag.FullName </h2>

   <div class="dashboard-grid">
       <a href="/User" class="card"> Manage Users </a>
       <a href="#" class="card"> Manage Courses </a>
       <a href="#" class="card"> Manage Schedule </a>
   </div>

   <style>
       .dashboard-container{
           padding: 40px;
           max-width: 1000px;
           margin: auto;
       }

       .dashboard-grid{
           display: grid;
           grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
           gap: 20px;
           margin-top: 30px;
       }

       .card{
           padding: 25px;
            background-color: #635dff;
           color: white;
           text-align: center;
           font-size: 18px;
           font-weight: 500;
           border-radius: 10px;
           text-decoration: none;
           transition: background-color 0.3s ease;
       }
       .card:hover{
           background-color: #0056b3;
       }

   </style>

</div>